<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="public/stylesheets/main.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="d-flex flex-grow-1">
      <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
      <a class="navbar-brand" href="/">YelpCamp</a>
      <div class="w-100 text-right">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
  </div>
  <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
      <ul class="navbar-nav ml-auto flex-nowrap">
        <% if(!currentUser){ %> 
          <li class="nav-item">
              <a href="/login" class="nav-link">Log In</a>
          </li>
          <li class="nav-item">
              <a href="/register" class="nav-link">Sing In</a>
          </li>
        <% } else { %>
          <li class="nav-item">
          <a href="#" class="nav-link">Signed in as <%= currentUser.username.toUpperCase(); %></a>
          </li>
          <li class="nav-item">
              <a href="/logout" class="nav-link">Log Out</a>
          </li>
        <% } %> 
      </ul>
  </div>
</nav>
<div class="container">
  <% if(error && error.length > 0){ %>
  <div class="alert alert-danger mt-3" role="alert">
    <%= error %>
  </div>
<% } %>
<% if(success && success.length > 0){ %>
  <div class="alert alert-success mt-3" role="alert">
    <%= success %>
  </div>
<% } %>
<% if(warning && warning.length > 0){ %>
  <div class="alert alert-warning mt-3" role="alert">
      <%= warning %>
  </div>
<% } %>
</div>